body{
    background-color:#F6E5DC ;
    font-family: Verdana;
}
header{
    background-color:#2F180C ;
    text-align: center;
    color: khaki;
    height: 60px;
    
}
.lewy{
  width: 60%;
float: left;
}
.prawy{
    font-size: 150%;
    padding: 70px;
    
}
.bottom{
    background-color: #D0B6A8 ;
    text-align: center;
    padding: 30px;
}
footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}
img{
    height: 350px;
}
button{
    background-color: #2F180C;
    color:khaki;
    padding: 5px;
    margin: 10px;
}
